# Python
*.pyc
*.pyo
*.spec
*.c
*.pyd
*.so
test.py
__pycache__

# Documents
test


# Files
*.bat
!static/configs/install.bat
server.ico
start.py

# Build
build
dist
dist-

LICENSE.rst
# Secrets
rustdesk_server_api/secret_config.py

# Local database and collectstatic output
db/*.sqlite3
static_root/

# Local virtualenv
venv/
